/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*Отключаем крестик в поле input разных типов во всех браузерах*/
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


*{
	box-sizing: border-box;
}
body{
	width: 100%;
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.header{
	display: flex;
	align-items: center;
	padding: 20px 70px 20px 32px;
	margin: 0 0 30px 0;
}
.burger{
	margin: 0 28px 0 0;
	width: 20px;
	height: 17px;
	border: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #ffff;
	
}
.burger_line{
	width: 20px;
	height: 3px;
	background: #1F2022;
	display: block;
	border-radius: 20px;
}
.logo_icon{
	fill: #fff;
	width: 116px;
	height: 25px;
	margin: 0 59px 0 0;
}
.search{
	max-width: 832px;
	width: 50%;
	background: #EBEBEB;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 22px;
	padding: 0 17px 0 0;
}
.search_input{
	padding: 12px 23px;
	width: 100%;
	background: transparent;
	border: none;
}
.search_button{
	background: transparent;
	width: 19px;
	height: 19px;
}
.search_icon{
	width: 19px;
	height: 19px;
	
}
.icon_fill{
	fill:#000;
}
.tools{
	display: flex;
	align-items: center;
	margin-left: auto;
}
.tools_link{
	opacity: 0.24;
}
.tools_link:hover{
	opacity: 0.7;
}
.tools_link:not(:last-child){
	margin: 0 50px 0 0;
}
.tool_icon{
	fill: #000;
}
.user{
	margin-left: 45px;
}
.user_img{
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid #000;
	border-radius: 50%;
}
.sidbar{
	padding: 0 0 0 31px;
}
.nav_menu{
	margin: 0 0 60px 0;
}
.nav_item{
	margin: 0 0 28px 0;
	color: #898989;
}
.nav_link{
	color: #898989;
	display: flex;
	align-items: center;
}
.nav_link:hover{
	color: #FF0000;
}
.nav_link:hover .nav_icon{
	fill: #FF0000;
}
.nav_icon{
	fill: #898989;
}
.nav_text{
	margin: 0 0 0 13px;
}
.nav_title{
	margin: 0 0 31px 0px;
	font-size: 18px;
	font-weight: 700;
	line-height: 23px
}
.nav_img{
	width: 26px;
	height: 26px;
	border-radius: 50%;
}